.slick-prev, .slick-next {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 0;
  width: 63px;
  height: 63px;
  background: none;
  border: solid 2px #d5cfc7;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 4;
}

.slick-prev:hover, .slick-next:hover {
  border: 2px solid #191919;
}

.slick-prev:hover svg, .slick-next:hover svg {
  stroke: #191919;
}

.slick-prev:active, .slick-next:active {
  border: 2px solid #4f75c9;
}

.slick-prev:active svg, .slick-next:active svg {
  stroke: #4f75c9;
}

.slick-prev svg, .slick-next svg {
  width: 25px;
  height: 25px;
  fill: none;
  stroke: #d5cfc7;
}

.slick-prev {
  left: -webkit-calc(50% - 270px);
  left: calc(50% - 270px);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slick-next {
  right: -webkit-calc(50% - 270px);
  right: calc(50% - 270px);
}

.slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 23px;
  left: 0;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 3;
}

.slick-dots li {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin: 0 21px;
}

.slick-dots li button {
  width: 8px;
  height: 8px;
  color: transparent;
  background: #c4c4c4;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
}

.slick-dots li.slick-active button {
  width: 100%;
  height: 100%;
  background: #4f75c9;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}

.slick-slide:hover, .slick-slide:focus {
  outline: none;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}